label.error {
    color: #dc3545;
    font-size: 85%;
}
body {
    font-family: "Varela Round";
}
h1 {
    font-size: 25px;
    font-weight: 800;
}
.box-right {
    background: #efefef;
    padding: 30px;
    width: 40%;
}
.box-right .price{
    font-weight: 600;
    text-align: right;
    color: #4488dc;
}
.box-right {
    font-weight: 600;
}
.box-left {
    padding: 50px;
    width: 100%;
    width: 60%;
}
.box-right h2 {
    font-size: 16px;
    margin-bottom: 20px;
}
.left-form-container {
    width: 100%;
}
.product-list {
    padding: 0;
}
.bottom-summary {
    display: flex;
    width: 100%;
    font-weight: 600;
}
.bottom-summary.line-3 {
    font-size: 24px;
}
.product-list .li {
    .list-style: none;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: dashed 1px #ddd;
}
.width-100 {
    width: 100%;
}
.product-list .li a {
    font-weight: 600;
    color: #333;
}
.product-list .li p {
    font-weight: 400;
    font-size: 85%;
    color: #444;
}
.product-list .li img {
    width: 60px;
    height: 50px;
    border: solid 1px #ddd;
    margin-right: 10px;
}
.product-list .li div {
    
}
.picker__input {
    cursor: default;
    background: transparent;
    border: none;
    border-bottom: solid 1px #ddd;
    width: 100%;
    position: absolute;
    height: 29px;
    padding: 0 10px;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 0;
}

.form-control {
    border-width: 0 0 1px;
    border-color: #ddd;
    padding: 2px 10px;
    height: auto;
    border-radius: 0;
}
.form-control:focus {
    border-color: #666;
    box-shadow: none;
    outline: none;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}
.btn {
    display: inline-block;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    border: none!important;
}
.btn-primary {
    background: #6dabe4;
    color: #fff;
}
.input-group-addon {
    top: 0!important;
}
.form-group label {
    position: relative;
    font-weight: normal!important;
    font-style: italic;
    font-size: 90%;
}